input {
    border: 1px solid $black;
    padding: 0.5vw 1vw;
    width: 40%;
    border-radius: 5px;
    transition: $transition-sp;
    margin: $gutter-sm 5px $gutter-sm 0;
    &:focus{
        background: $black;
        color: $white;
    }
  }
  button{
    padding: 0.5vw 0.6vw;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .5px;
    transition: all .3s;
    border-radius: 10px;
    background-color: #2f55d4;
    border: 1px solid #2f55d4;
    color: $white;
    cursor: pointer;
    box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
    &:hover{
        background-color: #002884;
    }
  }
  .no-auto {
    color: $black;
    padding: 0.5vw 1vw;
  }
  .autocomplete {
    border-radius: 5px;
    border: 1px solid $black;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: 40%;
  }
  .autocomplete li {
    padding: 8px;
  }
  .autocomplete > .active,
  .autocomplete li:hover {
    background-color:$black;
    color: $white;
    cursor: pointer;
    font-weight: 700;
  }
  .autocomplete li:not(:last-of-type) {
    border-bottom: 1px solid $black;
  }
.resultCard {
    width: 40%;
    display: inline-block;
    margin-top: $gutter-md;
    
    .resultBadge{
        padding: 6px;
        margin-right: 1.25vw;
    }
}
