@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$font-primary: 'Nunito','sans-serif';
$primary-color: #444;
$secondary-color: #888;
$black: #000;
$white: #fff;
$blue:#0d6efd;
$gutter-lg: 5vw;
$gutter-md: 2.5vw;
$gutter-sm: 1.25vw;
$transition-sp: 350ms all;
$border-radius: 3px;